<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Dream Team Profiles</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/datepicker.css" rel="stylesheet">
        <link href="css/select2.css" rel="stylesheet">
        <link href="css/select2-bootstrap.css" rel="stylesheet">
        <link href="css/alertify.core.css" rel="stylesheet">
        <link href="css/alertify.bootstrap.css" rel="stylesheet">
        <link href="css/knockout-file-bindings.css" rel="stylesheet">
        
        <link href="css/style.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <?php require $template; ?>
        <span data-bind="component: 'main-app'"></span>
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.form.min.js"></script>
        
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/select2.min.js"></script>
        <script src="js/knockout.js"></script>
        <script src="js/knockout-postbox.js"></script>
        <script src="js/knockout-file-bindings.js"></script>
        <script src="js/require.js" data-main="js/require.init.js"></script>
        
        <script src="js/validator.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="js/utils.js"></script>
        <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
    </body>
</html>
