body {
    margin-bottom: 30px;
}

#message-container {
    margin-top: 15px;
}

#sign-up-container {
    height: 80vh;
    vertical-align: middle;
    display: table;
}

#logout-btn {
    margin-top: 15px;
}

#sign-up-container div.row {
    display: table-cell;
    vertical-align: middle;
}

#reset-password-container {
    height: 100vh;
    vertical-align: middle;
    display: table;
}

#reset-password-container div.row {
    display: table-cell;
    vertical-align: middle;
}

#profile-container label,
#license-modal label{
    font-weight: normal;
}

#profile-container fieldset legend {
    margin-top: 15px;
}

@media(max-width:768px) {
    .forgot-password {
        margin-top: 30px;
    }
}

.remove-license, .remove-attachment {
    font-size: inherit;
}

#comments {
    resize: vertical;
}