<span id="change-password-container" data-bind="template: 'check-email-tpl', visible: 'check-email-tpl' == currentTemplate()"></span>
<span id="change-password-container" data-bind="template: 'change-password-tpl', visible: 'change-password-tpl' == currentTemplate()"></span>

<script type="text/html" id="check-email-tpl">
    <div class="modal-dialog" id="reset-pwd-email-container">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Reset your password</h5>
            </div>
            <div class="modal-body">
                <form id="check-email-form">
                    <div class="form-group">
                        <label class="sr-only" for="res-email">Reset your password</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </div>
                            <input data-bind="value: emailAddress" type="email" class="form-control" id="res-email" placeholder="Enter your email" required>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div id="change-password-recaptcha"></div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" data-bind="click: verifyEmail">Reset Password</button>
                    <button type="button" class="btn btn-default btn-block reset-pwd-cancel" data-bind="click: doCancel">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="change-password-tpl">
    <div class="modal-dialog" id="reset-pwd-container">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Update your password</h5>
            </div>
            <div class="modal-body">
                <form id="change-password-form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </div>
                            <input type="email" class="form-control" id="reg-email" data-bind="value: emailAddress" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </div>
                            <input type="password" class="form-control" id="chg-password" placeholder="Enter your new password"
                                   data-bind="value: password" required>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Re-enter your new password"
                                   data-match="#chg-password" data-match-error="The passwords don't match." required>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" data-bind="click: updatePassword">Update Password</button>
                    <button type="button" class="btn btn-default btn-block" id="reset-pwd-back" data-bind="click: goBack">Back</button>
                    <button type="button" class="btn btn-default btn-block" id="reset-pwd-cancel" data-bind="click: doCancel">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</script>