<div class="col-sm-6 forgot-password">
    <h5>Review and edit your existing Dream Team Profile:</h5>
    <form id="login-form">
        <div class="form-group">
            <label class="sr-only" for="log-email">Email address</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
                <input type="email" class="form-control" id="log-email" placeholder="Enter your email" data-bind="value: email" required>
            </div>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="log-password">Password</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </div>
              <input type="password" class="form-control" id="log-password" placeholder="Enter your password" data-bind="value: password" required>
            </div>
            <div class="help-block with-errors"></div>
        </div>
        <button type="submit" class="btn btn-primary btn-block sign-in-btn" id="sign-in-btn" data-bind="click: doLogin">Sign In</button>
        <a href="#" id="reset-password-link" data-bind="click: forgotPassword">Did you forget your password?</a>
    </form>
</div>