<div class="container" id="message-container" style="display: none">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-dismissible fade in" role="alert" data-bind="css: alertCss">
                <button type="button" class="close" aria-label="Close" data-bind="click: hideAlert">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="glyphicon" data-bind="css: alertIcon" aria-hidden="true"></span>
                <span data-bind="text: alertMsg"></span>
            </div>
        </div>
    </div>
</div>

<span data-bind="component: 'login-main', fadeVisible: currentPage() == 'login'"></span>
<span data-bind="component: 'change-password', fadeVisible: currentPage() == 'change-password'"></span>
<span data-bind="component: { name: 'profile', params: { currentUser: currentUser } }, fadeVisible: currentPage() == 'profile'"></span>
