<form id="profile-form">
    <div class="container" id="profile-container">
        <div class="row">
            <div class="col-sm-11">
                <h2>Dream Team Profile for <!-- ko text: emailAddress --><!-- /ko --></h2>
            </div>
            <div class="col-sm-1">
                <button type="button" id="logout-btn" class="btn btn-default pull-right" data-bind="click: doLogout">Logout</button>
            </div>
        </div>
        <!-- General Information -->
        <span id="profile-general">
            <fieldset>
                <legend>General Information</legend>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" class="control-label" for="profession">I am a(n)</label>
                            <select title=" " name="profession" id="profession" class="select2 form-control"
                                    data-bind="options: professionOptions, optionsText: 'name', optionsValue: 'code', optionsCaption: 'Please select', value: profession"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="first-name">First Name</label>
                            <input type="text" class="form-control" id="first-name" data-bind="value: firstName"
                                   data-minlength="2" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="middle-name">Middle Name</label>
                            <input type="text" class="form-control" id="middle-name" data-bind="value: middleName">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="last-name">Last Name</label>
                            <input type="text" class="form-control" id="last-name" data-bind="value: lastName"
                                   data-minlength="2" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="home-phone">Home Phone</label>
                            <input type="text" class="form-control" id="home-phone" data-bind="value: homePhone">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="cell-phone">Cell Phone</label>
                            <input type="text" class="form-control" id="cell-phone" data-bind="value: cellPhone">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="call-time">Best Time to Call</label>
                            <input type="text" class="form-control" id="call-time" data-bind="value: timeToCall">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label" for="address">Address</label>
                            <input type="text" class="form-control" id="address" data-bind="value: address">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="password">City</label>
                            <input type="text" class="form-control" id="password" data-bind="value: city">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" data-bind="visible: showStateField() == 'input'">
                        <div class="form-group state-group">
                            <label class="control-label" for="state">State</label>
                            <input type="text" class="form-control" id="state" data-bind="value: stateInput">
                        </div>
                    </div>
                    <div class="col-sm-4" data-bind="visible: showStateField() == 'caSelect'">
                        <div class="form-group state-group">
                            <label class="control-label" for="state">State</label>
                            <select title=" " id="state" class="select2 form-control" data-value="selectField"
                                    data-bind="options: caStateOptions, optionsText: 'name', optionsValue: 'code', optionsCaption: 'Please select', value: caStateSelect"></select>
                        </div>
                    </div>
                    <div class="col-sm-4" data-bind="visible: showStateField() == 'usSelect'">
                        <div class="form-group state-group">
                            <label class="control-label" for="state">State</label>
                            <select title=" " id="state" class="select2 form-control" data-value="selectField"
                                    data-bind="options: usStateOptions, optionsText: 'name', optionsValue: 'code', optionsCaption: 'Please select', value: usStateSelect"></select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="zip-code">Zip Code</label>
                            <input type="text" class="form-control" id="zip-code" data-bind="value: zipCode">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="country">Country</label>
                            <select title=" " name="country" id="country" class="select2 form-control"
                                    data-bind="options: countryOptions, optionsText: 'name', optionsValue: 'code', value: country"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="languages">Languages</label>
                            <select name="language" id="languages" class="select2 form-control" multiple
                                    data-bind="options: languageOptions, optionsText: 'name', optionsValue: 'code', optionsCaption: 'Please select', selectedOptions: languagesSelected"></select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="other-languages">Additional Languages</label>
                            <input type="text" class="form-control" id="other-languages" data-bind="value: otherLanguages">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="specialties">Specialties</label>
                            <select name="language" id="specialties" class="select2 form-control" multiple
                                    data-bind="options: specialtyOptions, optionsText: 'name', optionsValue: 'code', optionsCaption: 'Please select', selectedOptions: specialtiesSelected"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="start-time">When will you be able to start working with us?</label>
                            <input type="text" class="form-control" id="start-time" data-bind="value: startTime">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="total-hours">Total hours you are available from 8am to 3pm?</label>
                            <input type="text" class="form-control" id="total-hours" data-bind="value: totalHours">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="lead">How did you find out about TinyEYE?</label>
                            <select title=" " name="profession" id="profession" class="select2 form-control"
                                    data-bind="options: leadOptions, optionsText: 'name', optionsValue: 'code', optionsCaption: 'Please select', value: lead"></select>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </span>

        <!-- Licenses and Designations -->
        <span id="profile-licenses">
            <fieldset>
                <legend>Licenses and Designations</legend>
                <div class="row" data-bind="visible: activeLicenseRows().length > 0">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Active License or Designation</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Comments</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">Reference Number</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">Expires On</label>
                        </div>
                    </div>
                </div>
                <span id="active-licenses-rows" data-bind="template: { name: 'license-tpl', foreach: activeLicenseRows, afterRender: initLicenseJsFields.bind($data, 'active') }">
                </span>
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary btn-block btn-sm" 
                                data-toggle="modal" data-value="active" 
                                data-target="#license-modal" data-bind="click: setLicenseStatus">Add Active License / Designation</button>
                    </div>
                </div>
                <br>

                <div class="row" data-bind="visible: expiredLicenseRows().length > 0">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Expired License or Designation</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Comments</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">Reference Number</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">Expired On</label>
                        </div>
                    </div>
                </div>
                <span id="expired-licenses-rows" data-bind="template: { name: 'license-tpl', foreach: expiredLicenseRows, afterRender: initLicenseJsFields.bind($data, 'expired') }">
                </span>
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary btn-block btn-sm" 
                                data-toggle="modal" data-value="expired" 
                                data-target="#license-modal" data-bind="click: setLicenseStatus">Add Expired License / Designation</button>
                    </div>
                </div>
            </fieldset>
        </span>

        <!-- Comments and Attachments -->
        <span id="profile-comments">
            <fieldset>
                <legend>Comments and Attachments</legend>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label" for="comments">Comments</label>
                            <textarea class="form-control" rows="3" id="comments" data-bind="value: comments"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row" id="attachment-label-row" data-bind="visible: attachmentRows().length > 0">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">Attachment Type</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="file-name">File Name</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" for="comments">Comments</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label" for="uploaded-on">Uploaded On</label>
                        </div>
                    </div>
                </div>
                <span id="attachment-rows" data-bind="template: { name: 'attachment-tpl', foreach: attachmentRows, afterRender: initAttachmentJsFields }">
                </span>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block btn-sm" data-bind="click: addAttachment">Add Attachment</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </span>

        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary btn-block" data-bind="click: saveProfile">Save</button>
            </div>
        </div>
    </div>
</form>

<div class="modal fade license-modal" tabindex="-1" role="dialog" id="license-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="add-license-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add License or Designation</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="license-type" id="license-type" />
                    <div class="radio-inline">
                        <label><input type="radio" name="license-option" checked="checked" value="true" data-bind="checked: isExistingLicense">Select from existing licenses/designations</label>
                    </div>
                    <div class="form-group">
                        <label for="select-state" class="col-sm-4 control-label">State/Province</label>
                        <div class="col-sm-8">
                            <select title=" " name="select-state" id="select-state" class="select2 form-control" required="required"
                                    data-bind="foreach: countryOptions, value: licenseTerritory">
                                <optgroup data-bind="attr: {label: name}, foreach: licenseStates">
                                    <option data-bind="text: name, option: code"></option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="select-license" class="col-sm-4 control-label">License/Designation</label>
                        <div class="col-sm-8">
                            <select title="" name="select-license" id="select-license" class="select2 form-control" required="required"
                                    data-bind="options: licenseOptionsByTerritory, optionsText: 'type', optionsValue: 'id', optionsCaption: 'Please select', value: licenseId">
                            </select>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="license-option" value="false" data-bind="checked: isExistingLicense">Other license/designation</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bind="click: addLicense, enable: addLicenseBtnEnable" data-dismiss="modal">Add License / Designation</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/html" id="attachment-tpl">
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <select title=" " class="form-control select2" data-bind="value: type, attr: { id: 'attachment-type-' + $index() }">
                    <option value="Resume">Resume</option>
                    <option value="CoverLetter">Covering Letter</option>
                    <option value="License">License</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <input type="file" data-bind="fileInput: fileData, customFileInput: {
                  buttonClass: 'btn btn-success',
                  fileNameClass: 'disabled form-control'
                }">
            <a href="/" data-bind="text: originalFilename, visible: id, click: getAttachment"></a>
<!--            <div class="form-group">
                    <input name="upload" type="file" data-bind="attr: { id: 'filename-' + $index() }, fileUpload: { property: 'filename', url: 'index.php?page=save' }" required />
                <input type="text" data-bind="value: filename, attr: { id: 'filename-' + $index() }" required>
                <div class="help-block with-errors"></div>
            </div>-->
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" class="form-control" data-bind="value: comments">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input type="text" class="form-control" data-bind="value: uploadedOn, attr: { id: 'uploaded-on-' + $index() }">
            </div>
        </div>
        <div class="col-sm-1">
            <a class="input-group-btn btn btn-danger btn-sm go inline remove-attachment" data-bind="click: $parent.removeAttachment">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</script>

<script type="text/html" id="license-tpl">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" class="form-control" data-bind="value: type" readonly>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" class="form-control" data-bind="value: comments">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input type="text" class="form-control" data-bind="value: referenceNumber">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input type="text" class="form-control" data-bind="value: expiryDate, attr: { id: getExpiryDateId.bind($data, $index())() }" 
                        data-checkexpirydate="checkdate"  required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <a class="btn btn-danger btn-sm remove-license" data-bind="click: $parent.removeLicense">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</script>