<div class="col-sm-6">
    <h5>Create your Dream Team Profile:</h5>
    <form name="register" id="reg-form">
        <div class="form-group">
            <label class="sr-only" for="reg-email">Email address</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
                <input type="email" class="form-control" id="reg-email" placeholder="Enter your email" data-bind="value: emailAddress" required>
            </div>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="reg-confirm-email">Re-enter your email</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
                <input type="email" class="form-control" id="reg-confirm-email" placeholder="Re-enter your email" data-bind="value: confirmEmail"
                       data-match="#reg-email" data-match-error="The email addresses don't match." required>
            </div>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="reg-password">Password</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </div>
                <input type="password" class="form-control" id="reg-password" placeholder="Enter your password" data-bind="value: password" required>
            </div>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <div id="register-recaptcha"></div>
        </div>
        <button type="submit" class="btn btn-primary btn-block sign-in-btn" id="sign-up-btn" data-bind="click: createProfile">Sign Up</button>
    </form>
</div>