<div class="modal-dialog" id="reset-pwd-email-container">
    <div class="modal-content">
        <div class="modal-header">
            <h5>Reset your password</h5>
        </div>
        <div class="modal-body">
            <form id="reset-password-form">
                <div class="form-group">
                    <label class="sr-only" for="res-email">Reset your password</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </div>
                        <input data-bind="value: email" type="email" class="form-control" id="res-email" placeholder="Enter your email" required>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>
                <button type="submit" class="btn btn-primary btn-block" data-bind="click: resetPassword">Reset Password</button>
                <button type="button" class="btn btn-default btn-block reset-pwd-cancel" data-bind="click: goBack">Cancel</button>
            </form>
        </div>
    </div>
</div>